<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>

        <!-- Use tools:replace to override the CheckoutActivity export value conflict in debug -->
        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:exported="false"
            tools:replace="android:exported" />

        <!-- Razorpay Token Receiver -->
        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false"
            tools:node="merge" />

    </application>

</manifest>
